:root {
  --body-bg: #344e41;
  --text-color: #dad7cd;
  --border: #3a5a40;
  --btn-color: #780000;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--text-color);
}
.container {
  background-color: var(--body-bg);
  width: 600px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: var(--text-color);
}
